<!--
      Controller Readings 
      Hosted by Rasp Pi


      Hydroponic Info
      Author: Ronald Rowe
      Date:   5/31/2015
      Updated: 5/2/2022
      Filename:         controllerstyle.css
      
   -->


<!--	background-image: url('water.jpg');
	background-repeat:no-repeat;
        background-size:cover;
	width: 100%;
   -->

*{
	background: transparent;
	background-color: lightblue;
}
body{
	background-color: lightblue;
}
header{
        height: 50px;
	margin: auto;
	color: red;
	font-size: 25px;
	font-variant: small-caps;
}
h1{
	text-align:center;
}
header p{
        text-align: center;
        margin: auto;
}
aside{
	margin-top: 1%;
	text-align: center;
	float: right;
	width: 33%;
	color: black;
	font-size: 25px;
	font-variant: small-caps;
}
section{
        margin-top: 1%;
        text-align: center;
        width: 33%;
        float: left;
        color: black;
        font-size: 25px;
        font-variant: small-caps;
}
button,input
{
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
   }

div.fan{
        width: 25%;
        text-align: center;
        color: black;
        font-size: 25px;
        font-variant: small-caps;
        margin-left: auto;
	margin-right: auto;
	margin-top:5%;}
div.ph{
       display: flex;
       justify-content: center;
       align-items: center;
}
div#picture{
       margin: auto;
       display: flex;
       justify-content: center;
       align-items: center;
}
img{
       display: block;
       margin: auto;
       border: 3px solid blue;
}
